html {
	min-width: 20em;
}

body {
	font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	margin: 0;
	padding: 1em;
}

h1 {
	font-size: 1.5em;
	margin-top: 0;
}
#list-heading {
	margin: 1em 0;
	overflow: auto;
}
h3 {
	float: left;
	margin: 0;
}
#reset {
	float: right;
}
ul {
	clear: both;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li {
	margin: 0.5em 0;
}
hr {
	clear: both;
	margin: 1em 0;
}
fieldset {
	border: none;
	padding: 0;
}
#mute-form label {
	display: none;
}
button.remove {
	float: right;
	margin-left: 1em;
}

.hide {
	display: none;
}

#submit-form {
	float: right;
}
#status-flag-form {
	margin-top: 1em;
}
.transparency {
	clear: both;
	display: table;
	width: 100%;
}
select {
	float: right;
}
